:root { /* es la raiz de mi documento*/

--naranja:#F90;  /* declaro la variable con nombre y le asigno un valor*/
--negro: #000;
--blanco: #FFF;
--gris01: #333;
--gris02: #bbbbbb;
--gris03: #ccc9c9;

}


body{

    background-color: var(--gris01);
    background-image: url(./pattern.jpg);
    font-family: Arial, Helvetica, sans-serif;
    /* el font family es hereditario */

    margin-bottom: 0px; /* ELIMINO MARGEN PREDETERMINADO*/
}
/* con var () llamo a mi variable*/


/* variables de css 
son lo que permite guardar
los datoss como colores, numeros,tamaños
cascada: algunas propiedades se van heredando (por ejemplo si quiero que 
todo mi sitio sea en arial 12*/



.contenedor{
max-width: 1200px; /* limito el ancho a 1200px*/
margin-left: auto;
margin-right: auto;
/* los margenes automaticos centran el elemento
le ponen los mismos margenes a la derecha e izquierda*/
}

.cabecera{

display: flex;
justify-content: space-between;
color: var(--naranja);
}


 .contenido{
        background-color: var(--blanco);
      border-radius: 8px;
      border-left: 1px solid var(--negro);
      border right: 1px solid var(--negro);

}

   /* trabajando la navegacion*/
  
.nav {
   
   background-color: aqua;
   
}
.nav-lista {
    background-color: var(--naranja);
    /* Sacos los puntitos a la lista */
   list-style-type: none;
    /* Sacamos el padding-left predeterminado */
    padding-left: 0;
   display: flex;
   align-items: center; /* me alinea todo al centro*/
    padding: 10px 16px;
   
}
.nav-lista li {
    flex-grow: 1
    

}
.nav-lista a {
    /* Los transformo en elementos de bloque */
    display: block;
    padding: 4px 8px;
    text-align: center;
border-right: 1px var(--blanco);
font-weight: bold; /* para poner las letras en negrita*/
color: var(--blanco);
text-decoration: none;


}


.nav-lista a:hover {

    color: var(--gris01);
   /* con esto logro que cambie de color cuando paso
   el cursor*/
    
}
.nav-form { /* esto es el BUSCAR*/
    
    text-align: right; /* me ubica al formulario del lado derecho*/
    min-width: 450px;
}

/* Slider*/

.slider{

text-align: center;
margin-bottom: 40px; /* con esto lo separo del contenido de texto */

}

/* trabajando categorias*/
.main{

    background-color: palevioletred;
    display: grid; /* esto lo convierte en una GRILLA*/
    gap: 20px; /* el gap es el espacio entre LAS DOS COLUMNAS*/
    grid-template-columns: 230px 1fr; /* ancho fijo para categorias y 1fr para prodcutos*/
    margin-bottom: 40px; /* PARA QUE NO QUEDE PEGADO A MI 
    NEWSLETTER*/
padding-left: 20px; /* lo separo del margen*/
padding-right: 20px; /* lo separo de las lamparas*/
}
/* trabajando productos*/
.categorias{

    background-color: aqua;
  
}
.categorias1{
    list-style-type: none; /* Sacos los puntitos a la lista */
    gap: 20px;
   
}
.productos{
    
    background-color: var(--blanco);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}



.info-lampara{
/* esto engloba el texto y la imagen */
display: flex;
gap: 20px;


}
.h2{

    background-color: var(--blanco);
    font-weight: bold; /* para poner las letras en negrita*/
   
}

.texto{

    font-size: small;
    font-weight: 200;
    
    display: flex;
    gap: 20px;
 
}

/* Newsletter*/
.newsletter{
    display: flex;
    background-image:linear-gradient(var(--blanco) 70%, var(--gris01)); /* DEGRADADO*/
   
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; /* separa el pie del sitio*/

    padding: 12px 35px;

    border-radius: 4px;
border: 1px solid var(--gris01);

align-items: center;


}

.news-form{
     text-align: right;
    flex-grow: 1;
}

.news-info {
    display: flex;
    flex-direction: column;
    /* Elimino márgenes predeterminados de los párrafos */
    margin: 0;
    
    }
   
    .news-form strong{

        padding-left: 35px;
    }

    .news-info span{
        padding-left: 70px;
    }

    .footer{
       
        color: var(--gris01);
        padding-left: 80px;
        padding-right: 80px;
border-top: 1px solid var(--gris01);
background-color: var(--blanco);
        
    }

    .paises{
    
        display: flex; /* SE UBICAN AL LADO*/
        align-items: center;
        }
.copy{
    background-color:
}

.hong{
   
}

.buenosa{
  
}

    .creditos{

        text-align: right;
        padding-bottom: 8px;

    }